<div class="row">
	<div class="large-12 columns">
	<h1>High Scores in Quiz Bowl...</h1>

		
			<table style="width: 480px; overflow: auto;" cellpadding="0" cellspacing="0">
				<tr>
					<td><b>User</b></td>
					<td><b>High Score</b></td>
				</tr>	
				<% @high_scores.each do |player| %>
					<tr>
						<td><%= player.username %></td>
						<td><%= player.high_score %></td>
					</tr>
				<% end %>
				

			</table>	
	</div>	
</div>