
<h4 class = "text-center">wait<h4>
<h5 class = "text-center">********************** MAKE THIS ALL DYNAMIC INCLUDING NAMES, ADDRESS, PHONE, MAP COORDS ****************</h5>
	<br><br>
<div class="row">


<% @Games.each do |g| %>
  <% g.provides.each do |p| %>
    <tr>
      <td><%= link_to g.name, waiting_area_path(g, p.user) %></td>
      <td><%= g.description %></td>
      <td><%= "#{p.user.city} - #{p.user.add_l1}" %></td>
    </tr>
  <% end %>
<% end %>




</div>
<br><br>
<h5 class = "text-center">**************** BUTTON TO JOIN OR GO TO LOBBY FOR USER OR BUTTON TO START GAME FOR HOST **************</h5>
