
<h4 class = "text-center"><%= @Game[0].name %><h4>
<h5 class = "text-center"><%= @Game[0].description %></h5>
<h6 class = "text-center"><%= @provider[0].display_name + " - " + @provider[0].add_l1 + ", " + @provider[0].city%></h6>
	<br><br>
<div class="row">

<table>
<tr>
	<td>Users waiting...</td>
</tr>
<% @players.each do |player| %>
	<tr>
		<td><%= player.username %></td>
	</tr>
<% end %>
</table>




</div>
<br><br>
<h5 class = "text-center">**************** BUTTON TO JOIN OR GO TO LOBBY FOR USER OR BUTTON TO START GAME FOR HOST **************</h5>
