
<% if @games.any? %>
<% @games.each do |game| %>
<div class="row">



	<h3>	
	<%= link_to game.name, game_path(game.id) %>
	<%= game.description %>
	</h3>


</div>
<% end %>
<% else %>
<p>Sorry, No Fn Games right now.</p>

<% end %>