<h1 class = "text-center">Welcome To The Lobby!</h1>

<h4 class = "text-center"> Please browse for a game, or search based on location, name, or player.</h4>
<h5 class = "text-center"> When you're ready, choose a game and join...It's that simple.</h5>

<div class="row">
  <div class="large-1 columns myinline"></div>
  <div class="large-11 columns myinline">
  	<input type="submit"value="Find" style="float: left;" class="button [tiny small large]"/>
	<div style="overflow: hidden; padding-right: .5em;">
   <input type="text" style="width: 717px; height: 45px" placeholder=" location, name, or player"  />
	</div>​
  </div>
</div>

<div class="row">
  <div class="large-1 columns myinline"></div>
  <div class="large-11 columns myinline">
  	<div style="overflow: auto; float: left; padding-right: .2em;">


		<table style="width: 800px" cellpadding="0" cellspacing="0">
			<tr>
	  			<td><b>Host</b></td>
	  			<td><b>Game Name</b></td>
	  			<td><b>Description</b></td>
	  			<td><b>Location</b></td>
			</tr>

			<% @games.each do |g| %>
			  <% g.provides.each do |p| %>
			    <tr>
			    	<td><%= g.user.username%></td>
			      <td><%= link_to g.name, waiting_area_path(p.id) %></td>
			      <td><%= g.description %></td>
			      <td><%= "#{p.user.city} - #{p.user.add_l1}" %></td>
			    </tr>
			  <% end %>
			<% end %>

  		</table>
</div>
</div>



